<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>David L Minard</title>

    {# Custom Fonts #}
    <link href="https://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet">

    <style type="text/css">
        html {
            background-image: url('/img/dlm-photo-audio2.jpg');
            background-repeat: no-repeat;
            background-position: top center;
            background-size: cover;
            background-attachment: fixed;
        }
        h1 {
            font-family: 'Montserrat', sans-serif;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 40px;
            line-height: 50px;
            margin-bottom: 25px;
            text-shadow:
               -1px -1px 0 #fff,
                1px -1px 0 #fff,
                -1px 1px 0 #fff,
                 1px 1px 0 #fff;
        }
        #links {
            position: fixed;
            left: 0;
            right: 0;
            bottom: 0;
            top: 70%;
            text-align: center;
            font-family: 'Montserrat', sans-serif;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 50px;
            color: #fff;
        }
        #links a {
            font-family: 'Montserrat', sans-serif;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 40px;
            color: #fff;
            text-decoration: none;
            text-shadow:
               -1px -1px 0 #666,
                1px -1px 0 #666,
                -1px 1px 0 #666,
                 1px 1px 0 #666;
            transition:.5s;
        }
        #links a:hover {
            text-shadow:
               -2px -2px 4px #88b,
                2px -2px 4px #88b,
                -2px 2px 4px #88b,
                 2px 2px 4px #88b;
            transition:1s;
        }
    </style>

</head>

<body>
    <h1>David L Minard</h1>
    <div id="links">
        <a href="http://www.TinyGlowPhoto.com">Photo</a>
        &nbsp;|&nbsp;
        <a href="/audio">Audio</a>
    </div>
</body>
</html>
